@* Contact Page
   @Author - Rohitashav Aggarwal
*@

@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>*@

    <div style="font-size:large; color:azure; bottom: 0;">
        <h3>@ViewBag.Message</h3>
        <address>
            Travel Experts<br />
            1301 16 Ave NW <br />
            Calgary, AB T2M0L4<br />
            <abbr title="Phone">Phone:</abbr>
            403.284.7248 <br />
            <abbr title="Emergency Phone">Emergency:</abbr>
            403.284.5555
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@gmail.com">Support@gmail.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@gmail.com">Marketing@gmail.com</a><br />
            <strong>Complains:</strong> <a href="mailto:Complains@gmail.com">Complains@gmail.com</a><br />
        </address><br />
        <h3>Our Team :</h3><br />
        <div style="border-bottom-color:aqua">
            <div class="col-xs-3">
                Lionel Messi <br />
                Software Developer <br />
                <strong>Email:</strong>   <a href="mailto:Messi@gmail.com">Messi@gmail.com</a><br />
            </div>
            <div class="col-xs-3">
                Lautaro Martinez <br />
                Software Developer <br />
                <strong>Email:</strong>   <a href="mailto:LMartinez@gmail.com">LMartinez@gmail.com</a><br />
            </div>
            <div class="col-xs-3">
                Raymond Edeamrere <br />
                Software Developer <br />
                <strong>Email:</strong>   <a href="mailto:Ray@gmail.com">Ray@gmail.com</a><br />
            </div>
            <div class="col-xs-3">
                Paulo Dybala <br />
                Software Developer <br />
                <strong>Email:</strong>   <a href="mailto:PDybala@gmail.com">PDybala@gmail.com</a><br />
            </div>
        </div>
    </div><br/>
